@model IList<AzureLabDemo.Models.Team>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1> OLA </h1>
    <div class="col-md-12">
        <table>
            <tr>
                <td>Position</td>
                <td>Team</td>
                <td>Played</td>
                <td>Points</td>
            </tr>
            @foreach (var team in Model)
            {
                <tr>
                    <td>@team.Position</td>
                    <td>@team.Name</td>
                    <td>@team.Played</td>
                    <td>@team.Points</td>
                </tr>
            }
        </table>
    </div>
</div>
